  body {
    background-color: #0d1b2a;
    /* Bleu marine foncé */
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: #1b263b;
    /* Bleu marine plus clair */
    padding: 10px;
    margin-top: auto;
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
  }

  .top-box {
    background-color: #ffffff;
    color: #000;
    margin: 50px auto 10px;
    padding: 35px 30px;
    width: 80%;
    text-align: center;
    border-radius: 8px;
  }

  .btn-center {
    display: block;
    margin: 80px auto;
    background-color: #1b263b;
    color: #fff;
    border: none;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 25px;
    transition: background 0.3s;
  }

  .btn-center:hover {
    background-color: #415a77;
    display: flex;
    justify-content: center;
  }

  .bottom-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 100px 40px 20px;
    flex-wrap: wrap;
  }

  .bottom-box {
    background-color: #ffffff;
    color: #000;
    padding: 20px;
    width: 550px;
    min-height: 100px;
    border-radius: 8px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .top-box {
      width: 90%;
      margin-top: 30px;
    }

    .bottom-box {
      width: 100%;
    }

    .bottom-section {
      flex-direction: column;
      align-items: center;
    }
  }

  .connexion_bottom {
    display: flex;
    justify-content: center;
    margin:100px auto 20px;

  }

  .connexion_bottom a {
    padding: 5px 10px;
    font-size: 1.2rem;
    min-width: 180px;
    border-radius: 10px;
  }